HELP.md

### Build output ###
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

### Gradle ###
.gradle/

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs / Temp ###
*.log
*.log.*.bak
*.tmp
*.swp
hs_err_pid*
replay_pid*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

### Env files ###
*.env
